.card{
    margin: 20px;
    min-width: fit-content;
    max-width: 60%;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list1{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}
.status{
    height: fit-content;
    padding: 3px;
    border-radius: 10px;
}

.list2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}